* {
  background-color:#169621
}
* .universal3 {
  color: #005104;
}
a:hover {
    background-color: yellow;
}
footer {
color: darkblue;
}
.list {
  color:#64d65c;
}
img {
  height: 300px;
  width: 500px;
}
#xboxid {
  color:#aaffb7;
}
button:hover {
  color:darkgreen;
}
a[target] {
    background-color: white;
}
hr div {
    color:#64d65c;
}
