* {
  background-color:#3161bc
}
* .universal2 {
  color: #001951;
}
a:hover {
    background-color: yellow;
}
footer {
color: darkblue;
}
ul {
  color:#68a2ff;
}
img {
  height: 300px;
   width: 400px;
}
