* {
  background-color:#ed2f2f
}
* .universal4 {
  color: #6d0000;
}
a:hover {
    background-color: yellow;
}
footer {
color: darkblue;
}
.list2 {
  color:#ff7f7f;
}
img {
  height: 300px;
  width: 600px;
}
#portable {
  border-radius: 25px;
   border: 2px solid;
   padding: 0px;
   width: 350px;
   height: 200px;
}
#nintendoid {
  color:#ffaaaa;
}
button:hover {
  color:darkred;
}
a[target] {
    background-color: white;
}
hr div {
    color:#ff7f7f;
}
