* {
  background-color:#ed2f2f
}
* .universal4 {
  color: #6d0000;
}
a:hover {
    background-color: yellow;
}
footer {
color: darkblue;
}
.list2 {
  color:#ff7f7f;
}
img {
  height: 300px;
  width: 600px;
}
